* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: gray;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
#container {
   background: black;
   opacity: 1;
   max-width: 380px;
   overflow: hidden;
   border-radius: 30px;
}
#output{
   width: 100%;
   font-size: 3rem;
   padding: 15px;
   background-color: hsl(0,0%,20%);
   border: none;
   color: white;
   right: 10px;
   text-align: right;
}
#keys {
   display: grid;
   outline: none;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   padding: 15px;
}
button{
   width: 80px;
   height: 80px;
   border: none;
   border-radius: 30px;
   font-size: 2rem;
   background-color: hsl(0,0%,30%);
   color: white;
   cursor: pointer;
}
button:hover {
   background-color: hsl(0,0%,40%);
}
button:active {
   background-color: hsl(0,0%,50%);
}
.yellow {
   background-color: hsl(35,100%,55%);
}
.yellow:hover{
   background-color: hsl(35,100%,65%);
}
.yellow:hover{
   background-color: hsl(35,100%,75%);
}

@media only screen and (min-width: 400px) {
   * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: gray;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
#container {
   background: black;
   opacity: 1;
   max-width: 800px;
   overflow: hidden;
   border-radius: 30px;
}
#output{
   width: 100%;
   font-size: 7rem;
   padding: 50px;
   background-color: hsl(0,0%,20%);
   border: none;
   color: white;
   text-align: right;
}
#keys {
   display: grid;
   outline: none;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding: 50px;
}
button{
   width: 150px;
   height: 150px;
   border: none;
   border-radius: 30px;
   font-size: 4rem;
   background-color: hsl(0,0%,30%);
   color: white;
   cursor: pointer;
}
button:hover {
   background-color: hsl(0,0%,40%);
}
button:active {
   background-color: hsl(0,0%,50%);
}
.yellow {
   background-color: hsl(35,100%,55%);
}
.yellow:hover{
   background-color: hsl(35,100%,65%);
}
.yellow:hover{
   background-color: hsl(35,100%,75%);
}

}